#div-container {
    width: 220px;
    display: none;
}
#div-msg {
    width: 240px;
    font-size: 18px;
}
.div-title {
    font-size: 18px;
}
.div-checks {
    display: grid;
    font-size: 16px;
    padding: 5px 10px;
}
.div-btns {
    padding: 7px 10px 0px;
    display: flex;
}
.div-left {
    width: 50%;
    text-align: left;
}
.div-right {
    width: 50%;
    text-align: right;
}
.btn-font {
    font-size: 15px;
}
